# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.log

# Environment variables
.env

# IntelliJ / VS Code
.idea/
.vscode/

# Project Specific (Artifacts)
mlruns/
.gemini/
.prefect/
checkpoints/
*.joblib
*.pkl

# Datasets (Large Files)
# candidate_job_role_dataset.csv

# Output Tests
.pytest_cache/
.coverage
htmlcov/

# Logs
metrics.log
error.log
log.txt
tests.log
